src/wsdl/icat42/ICAT.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://icatproject.org" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://icatproject.org" name="ICATService">
<types>
<xsd:schema>
<xsd:import namespace="http://icatproject.org" schemaLocation="ICAT.xsd"/>
</xsd:schema>
</types>
<message name="deleteMany">
<part name="parameters" element="tns:deleteMany"/>
</message>
<message name="deleteManyResponse">
<part name="parameters" element="tns:deleteManyResponse"/>
</message>
<message name="IcatException">
<part name="fault" element="tns:IcatException"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="get">
<part name="parameters" element="tns:get"/>
</message>
<message name="getResponse">
<part name="parameters" element="tns:getResponse"/>
</message>
<message name="search">
<part name="parameters" element="tns:search"/>
</message>
<message name="searchResponse">
<part name="parameters" element="tns:searchResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"/>
</message>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="getUserName">
<part name="parameters" element="tns:getUserName"/>
</message>
<message name="getUserNameResponse">
<part name="parameters" element="tns:getUserNameResponse"/>
</message>
<message name="dummy">
<part name="parameters" element="tns:dummy"/>
</message>
<message name="dummyResponse">
<part name="parameters" element="tns:dummyResponse"/>
</message>
<message name="logout">
<part name="parameters" element="tns:logout"/>
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse"/>
</message>
<message name="createMany">
<part name="parameters" element="tns:createMany"/>
</message>
<message name="createManyResponse">
<part name="parameters" element="tns:createManyResponse"/>
</message>
<message name="getApiVersion">
<part name="parameters" element="tns:getApiVersion"/>
</message>
<message name="getApiVersionResponse">
<part name="parameters" element="tns:getApiVersionResponse"/>
</message>
<message name="getRemainingMinutes">
<part name="parameters" element="tns:getRemainingMinutes"/>
</message>
<message name="getRemainingMinutesResponse">
<part name="parameters" element="tns:getRemainingMinutesResponse"/>
</message>
<message name="getEntityInfo">
<part name="parameters" element="tns:getEntityInfo"/>
</message>
<message name="getEntityInfoResponse">
<part name="parameters" element="tns:getEntityInfoResponse"/>
</message>
<portType name="ICAT">
<operation name="deleteMany">
<input wsam:Action="http://icatproject.org/ICAT/deleteManyRequest" message="tns:deleteMany"/>
<output wsam:Action="http://icatproject.org/ICAT/deleteManyResponse" message="tns:deleteManyResponse"/>
<fault message="tns:IcatException" name="IcatException" wsam:Action="http://icatproject.org/ICAT/deleteMany/Fault/IcatException"/>
</operation>
<operation name="login">
<input wsam:Action="http://icatproject.org/ICAT/loginRequest" message="tns:login"/>
<output wsam:Action="http://icatproject.org/ICAT/loginResponse" message="tns:loginResponse"/>
<fault message="tns:IcatException" name="IcatException" wsam:Action="http://icatproject.org/ICAT/login/Fault/IcatException"/>
</operation>
<operation name="get">
<input wsam:Action="http://icatproject.org/ICAT/getRequest" message="tns:get"/>
<output wsam:Action="http://icatproject.org/ICAT/getResponse" message="tns:getResponse"/>
<fault message="tns:IcatException" name="IcatException" wsam:Action="http://icatproject.org/ICAT/get/Fault/IcatException"/>
</operation>
<operation name="search">
<input wsam:Action="http://icatproject.org/ICAT/searchRequest" message="tns:search"/>
<output wsam:Action="http://icatproject.org/ICAT/searchResponse" message="tns:searchResponse"/>
<fault message="tns:IcatException" name="IcatException" wsam:Action="http://icatproject.org/ICAT/search/Fault/IcatException"/>
</operation>
<operation name="delete">
<input wsam:Action="http://icatproject.org/ICAT/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://icatproject.org/ICAT/deleteResponse" message="tns:deleteResponse"/>
<fault message="tns:IcatException" name="IcatException" wsam:Action="http://icatproject.org/ICAT/delete/Fault/IcatException"/>
</operation>
<operation name="create">
<input wsam:Action="http://icatproject.org/ICAT/createRequest" message="tns:create"/>
<output wsam:Action="http://icatproject.org/ICAT/createResponse" message="tns:createResponse"/>
<fault message="tns:IcatException" name="IcatException" wsam:Action="http://icatproject.org/ICAT/create/Fault/IcatException"/>
</operation>
<operation name="update">
<input wsam:Action="http://icatproject.org/ICAT/updateRequest" message="tns:update"/>
<output wsam:Action="http://icatproject.org/ICAT/updateResponse" message="tns:updateResponse"/>
<fault message="tns:IcatException" name="IcatException" wsam:Action="http://icatproject.org/ICAT/update/Fault/IcatException"/>
</operation>
<operation name="getUserName">
<input wsam:Action="http://icatproject.org/ICAT/getUserNameRequest" message="tns:getUserName"/>
<output wsam:Action="http://icatproject.org/ICAT/getUserNameResponse" message="tns:getUserNameResponse"/>
<fault message="tns:IcatException" name="IcatException" wsam:Action="http://icatproject.org/ICAT/getUserName/Fault/IcatException"/>
</operation>
<operation name="dummy">
<input wsam:Action="http://icatproject.org/ICAT/dummyRequest" message="tns:dummy"/>
<output wsam:Action="http://icatproject.org/ICAT/dummyResponse" message="tns:dummyResponse"/>
</operation>
<operation name="logout">
<input wsam:Action="http://icatproject.org/ICAT/logoutRequest" message="tns:logout"/>
<output wsam:Action="http://icatproject.org/ICAT/logoutResponse" message="tns:logoutResponse"/>
<fault message="tns:IcatException" name="IcatException" wsam:Action="http://icatproject.org/ICAT/logout/Fault/IcatException"/>
</operation>
<operation name="createMany">
<input wsam:Action="http://icatproject.org/ICAT/createManyRequest" message="tns:createMany"/>
<output wsam:Action="http://icatproject.org/ICAT/createManyResponse" message="tns:createManyResponse"/>
<fault message="tns:IcatException" name="IcatException" wsam:Action="http://icatproject.org/ICAT/createMany/Fault/IcatException"/>
</operation>
<operation name="getApiVersion">
<input wsam:Action="http://icatproject.org/ICAT/getApiVersionRequest" message="tns:getApiVersion"/>
<output wsam:Action="http://icatproject.org/ICAT/getApiVersionResponse" message="tns:getApiVersionResponse"/>
<fault message="tns:IcatException" name="IcatException" wsam:Action="http://icatproject.org/ICAT/getApiVersion/Fault/IcatException"/>
</operation>
<operation name="getRemainingMinutes">
<input wsam:Action="http://icatproject.org/ICAT/getRemainingMinutesRequest" message="tns:getRemainingMinutes"/>
<output wsam:Action="http://icatproject.org/ICAT/getRemainingMinutesResponse" message="tns:getRemainingMinutesResponse"/>
<fault message="tns:IcatException" name="IcatException" wsam:Action="http://icatproject.org/ICAT/getRemainingMinutes/Fault/IcatException"/>
</operation>
<operation name="getEntityInfo">
<input wsam:Action="http://icatproject.org/ICAT/getEntityInfoRequest" message="tns:getEntityInfo"/>
<output wsam:Action="http://icatproject.org/ICAT/getEntityInfoResponse" message="tns:getEntityInfoResponse"/>
<fault message="tns:IcatException" name="IcatException" wsam:Action="http://icatproject.org/ICAT/getEntityInfo/Fault/IcatException"/>
</operation>
</portType>
<binding name="ICATPortBinding" type="tns:ICAT">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteMany">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IcatException">
<soap:fault name="IcatException" use="literal"/>
</fault>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IcatException">
<soap:fault name="IcatException" use="literal"/>
</fault>
</operation>
<operation name="get">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IcatException">
<soap:fault name="IcatException" use="literal"/>
</fault>
</operation>
<operation name="search">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IcatException">
<soap:fault name="IcatException" use="literal"/>
</fault>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IcatException">
<soap:fault name="IcatException" use="literal"/>
</fault>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IcatException">
<soap:fault name="IcatException" use="literal"/>
</fault>
</operation>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IcatException">
<soap:fault name="IcatException" use="literal"/>
</fault>
</operation>
<operation name="getUserName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IcatException">
<soap:fault name="IcatException" use="literal"/>
</fault>
</operation>
<operation name="dummy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IcatException">
<soap:fault name="IcatException" use="literal"/>
</fault>
</operation>
<operation name="createMany">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IcatException">
<soap:fault name="IcatException" use="literal"/>
</fault>
</operation>
<operation name="getApiVersion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IcatException">
<soap:fault name="IcatException" use="literal"/>
</fault>
</operation>
<operation name="getRemainingMinutes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IcatException">
<soap:fault name="IcatException" use="literal"/>
</fault>
</operation>
<operation name="getEntityInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IcatException">
<soap:fault name="IcatException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ICATService">
<port name="ICATPort" binding="tns:ICATPortBinding">
<soap:address location="https://smfisher.esc.rl.ac.uk:8181/ICATService/ICAT"/>
</port>
</service>
</definitions>