src/wsdl/icat42/ICAT.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://icatproject.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://icatproject.org">

<xs:element name="IcatException" type="tns:IcatException"/>

<xs:element name="create" type="tns:create"/>

<xs:element name="createMany" type="tns:createMany"/>

<xs:element name="createManyResponse" type="tns:createManyResponse"/>

<xs:element name="createResponse" type="tns:createResponse"/>

<xs:element name="datafile" type="tns:datafile"/>

<xs:element name="datafileParameter" type="tns:datafileParameter"/>

<xs:element name="dataset" type="tns:dataset"/>

<xs:element name="datasetParameter" type="tns:datasetParameter"/>

<xs:element name="delete" type="tns:delete"/>

<xs:element name="deleteMany" type="tns:deleteMany"/>

<xs:element name="deleteManyResponse" type="tns:deleteManyResponse"/>

<xs:element name="deleteResponse" type="tns:deleteResponse"/>

<xs:element name="dummy" type="tns:dummy"/>

<xs:element name="dummyResponse" type="tns:dummyResponse"/>

<xs:element name="get" type="tns:get"/>

<xs:element name="getApiVersion" type="tns:getApiVersion"/>

<xs:element name="getApiVersionResponse" type="tns:getApiVersionResponse"/>

<xs:element name="getEntityInfo" type="tns:getEntityInfo"/>

<xs:element name="getEntityInfoResponse" type="tns:getEntityInfoResponse"/>

<xs:element name="getRemainingMinutes" type="tns:getRemainingMinutes"/>

<xs:element name="getRemainingMinutesResponse" type="tns:getRemainingMinutesResponse"/>

<xs:element name="getResponse" type="tns:getResponse"/>

<xs:element name="getUserName" type="tns:getUserName"/>

<xs:element name="getUserNameResponse" type="tns:getUserNameResponse"/>

<xs:element name="investigationParameter" type="tns:investigationParameter"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="logout" type="tns:logout"/>

<xs:element name="logoutResponse" type="tns:logoutResponse"/>

<xs:element name="sampleParameter" type="tns:sampleParameter"/>

<xs:element name="search" type="tns:search"/>

<xs:element name="searchResponse" type="tns:searchResponse"/>

<xs:element name="update" type="tns:update"/>

<xs:element name="updateResponse" type="tns:updateResponse"/>

<xs:complexType name="create">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="bean" type="tns:entityBaseBean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="entityBaseBean" abstract="true">
<xs:sequence>
<xs:element name="createId" type="xs:string" minOccurs="0"/>
<xs:element name="createTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="modTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="modId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IcatException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="offset" type="xs:int"/>
<xs:element name="type" type="tns:icatExceptionType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createMany">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="beans" type="tns:entityBaseBean" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createManyResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="get">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="query" type="xs:string" minOccurs="0"/>
<xs:element name="primaryKey" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getResponse">
<xs:sequence>
<xs:element name="return" type="tns:entityBaseBean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getApiVersion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getApiVersionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="update">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="bean" type="tns:entityBaseBean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deleteMany">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="beans" type="tns:entityBaseBean" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteManyResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getUserName">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserNameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="plugin" type="xs:string" minOccurs="0"/>
<xs:element name="credentials">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:string"/>
<xs:element name="value" minOccurs="0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dummy">
<xs:sequence>
<xs:element name="arg0" type="tns:datafile" minOccurs="0"/>
<xs:element name="arg1" type="tns:datafileFormat" minOccurs="0"/>
<xs:element name="arg2" type="tns:datafileParameter" minOccurs="0"/>
<xs:element name="arg3" type="tns:dataset" minOccurs="0"/>
<xs:element name="arg4" type="tns:datasetParameter" minOccurs="0"/>
<xs:element name="arg5" type="tns:datasetType" minOccurs="0"/>
<xs:element name="arg6" type="tns:facility" minOccurs="0"/>
<xs:element name="arg7" type="tns:facilityCycle" minOccurs="0"/>
<xs:element name="arg8" type="tns:instrumentScientist" minOccurs="0"/>
<xs:element name="arg9" type="tns:user" minOccurs="0"/>
<xs:element name="arg10" type="tns:instrument" minOccurs="0"/>
<xs:element name="arg11" type="tns:investigation" minOccurs="0"/>
<xs:element name="arg12" type="tns:investigationType" minOccurs="0"/>
<xs:element name="arg13" type="tns:investigationUser" minOccurs="0"/>
<xs:element name="arg14" type="tns:keyword" minOccurs="0"/>
<xs:element name="arg15" type="tns:parameterType" minOccurs="0"/>
<xs:element name="arg16" type="tns:publication" minOccurs="0"/>
<xs:element name="arg17" type="tns:relatedDatafile" minOccurs="0"/>
<xs:element name="arg18" type="tns:sample" minOccurs="0"/>
<xs:element name="arg19" type="tns:sampleParameter" minOccurs="0"/>
<xs:element name="arg20" type="tns:shift" minOccurs="0"/>
<xs:element name="arg21" type="tns:study" minOccurs="0"/>
<xs:element name="arg22" type="tns:studyInvestigation" minOccurs="0"/>
<xs:element name="arg23" type="tns:studyStatus" minOccurs="0"/>
<xs:element name="arg24" type="tns:application" minOccurs="0"/>
<xs:element name="arg25" type="tns:job" minOccurs="0"/>
<xs:element name="arg26" type="tns:inputDataset" minOccurs="0"/>
<xs:element name="arg27" type="tns:outputDataset" minOccurs="0"/>
<xs:element name="arg28" type="tns:inputDatafile" minOccurs="0"/>
<xs:element name="arg29" type="tns:outputDatafile" minOccurs="0"/>
<xs:element name="arg30" type="tns:notificationRequest" minOccurs="0"/>
<xs:element name="arg31" type="tns:group" minOccurs="0"/>
<xs:element name="arg32" type="tns:userGroup" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datafile">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="checksum" type="xs:string" minOccurs="0"/>
<xs:element name="datafileCreateTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datafileFormat" type="tns:datafileFormat" minOccurs="0"/>
<xs:element name="datafileModTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dataset" type="tns:dataset" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="destDatafiles" type="tns:relatedDatafile" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="doi" type="xs:string" minOccurs="0"/>
<xs:element name="fileSize" type="xs:long" minOccurs="0"/>
<xs:element name="inputDatafiles" type="tns:inputDatafile" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="outputDatafiles" type="tns:outputDatafile" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="parameters" type="tns:datafileParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sourceDatafiles" type="tns:relatedDatafile" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="datafileFormat">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="datafiles" type="tns:datafile" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="facility" type="tns:facility" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
<xs:element name="version" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="facility">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="datafileFormats" type="tns:datafileFormat" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="datasetTypes" type="tns:datasetType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="daysUntilRelease" type="xs:int" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="facilityCycles" type="tns:facilityCycle" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="fullName" type="xs:string" minOccurs="0"/>
<xs:element name="instruments" type="tns:instrument" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="investigationTypes" type="tns:investigationType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="investigations" type="tns:investigation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="parameterTypes" type="tns:parameterType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sampleTypes" type="tns:sampleType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="url" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="datasetType">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="datasets" type="tns:dataset" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="facility" type="tns:facility" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dataset">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="complete" type="xs:boolean"/>
<xs:element name="datafiles" type="tns:datafile" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="doi" type="xs:string" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="inputDatasets" type="tns:inputDataset" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="investigation" type="tns:investigation" minOccurs="0"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="outputDatasets" type="tns:outputDataset" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="parameters" type="tns:datasetParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sample" type="tns:sample" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="type" type="tns:datasetType" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inputDataset">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="dataset" type="tns:dataset" minOccurs="0"/>
<xs:element name="job" type="tns:job" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="job">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="application" type="tns:application" minOccurs="0"/>
<xs:element name="inputDatafiles" type="tns:inputDatafile" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="inputDatasets" type="tns:inputDataset" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="outputDatafiles" type="tns:outputDatafile" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="outputDatasets" type="tns:outputDataset" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="application">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="jobs" type="tns:job" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="version" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="inputDatafile">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="datafile" type="tns:datafile" minOccurs="0"/>
<xs:element name="job" type="tns:job" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outputDatafile">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="datafile" type="tns:datafile" minOccurs="0"/>
<xs:element name="job" type="tns:job" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="outputDataset">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="dataset" type="tns:dataset" minOccurs="0"/>
<xs:element name="job" type="tns:job" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="investigation">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="datasets" type="tns:dataset" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="doi" type="xs:string" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="facility" type="tns:facility" minOccurs="0"/>
<xs:element name="facilityCycle" type="tns:facilityCycle" minOccurs="0"/>
<xs:element name="instrument" type="tns:instrument" minOccurs="0"/>
<xs:element name="investigationUsers" type="tns:investigationUser" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="keywords" type="tns:keyword" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="parameters" type="tns:investigationParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="publications" type="tns:publication" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="releaseDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="samples" type="tns:sample" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="shifts" type="tns:shift" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="studyInvestigations" type="tns:studyInvestigation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="summary" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="tns:investigationType" minOccurs="0"/>
<xs:element name="visitId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="facilityCycle">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="facility" type="tns:facility" minOccurs="0"/>
<xs:element name="investigations" type="tns:investigation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="instrument">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="facility" type="tns:facility" minOccurs="0"/>
<xs:element name="fullName" type="xs:string" minOccurs="0"/>
<xs:element name="instrumentScientists" type="tns:instrumentScientist" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="investigations" type="tns:investigation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="instrumentScientist">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="instrument" type="tns:instrument" minOccurs="0"/>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="user">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="fullName" type="xs:string" minOccurs="0"/>
<xs:element name="instrumentScientists" type="tns:instrumentScientist" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="investigationUsers" type="tns:investigationUser" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="studies" type="tns:study" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="userGroups" type="tns:userGroup" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="investigationUser">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="investigation" type="tns:investigation" minOccurs="0"/>
<xs:element name="role" type="xs:string" minOccurs="0"/>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="study">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="status" type="tns:studyStatus" minOccurs="0"/>
<xs:element name="studyInvestigations" type="tns:studyInvestigation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="studyInvestigation">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="investigation" type="tns:investigation" minOccurs="0"/>
<xs:element name="study" type="tns:study" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="userGroup">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="group" type="tns:group" minOccurs="0"/>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="group">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="rules" type="tns:rule" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="userGroups" type="tns:userGroup" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="rule">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="crudFlags" type="xs:string" minOccurs="0"/>
<xs:element name="d" type="xs:boolean"/>
<xs:element name="group" type="tns:group" minOccurs="0"/>
<xs:element name="what" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="keyword">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="investigation" type="tns:investigation" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="investigationParameter">
<xs:complexContent>
<xs:extension base="tns:parameter">
<xs:sequence>
<xs:element name="investigation" type="tns:investigation" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="parameter" abstract="true">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="dateTimeValue" type="xs:dateTime" minOccurs="0"/>
<xs:element name="error" type="xs:double" minOccurs="0"/>
<xs:element name="numericValue" type="xs:double" minOccurs="0"/>
<xs:element name="rangeBottom" type="xs:double" minOccurs="0"/>
<xs:element name="rangeTop" type="xs:double" minOccurs="0"/>
<xs:element name="stringValue" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="tns:parameterType" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="parameterType">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="applicableToDatafile" type="xs:boolean"/>
<xs:element name="applicableToDataset" type="xs:boolean"/>
<xs:element name="applicableToInvestigation" type="xs:boolean"/>
<xs:element name="applicableToSample" type="xs:boolean"/>
<xs:element name="datafileParameters" type="tns:datafileParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="datasetParameters" type="tns:datasetParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="enforced" type="xs:boolean"/>
<xs:element name="facility" type="tns:facility" minOccurs="0"/>
<xs:element name="investigationParameters" type="tns:investigationParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="maximumNumericValue" type="xs:double" minOccurs="0"/>
<xs:element name="minimumNumericValue" type="xs:double" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="permissibleStringValues" type="tns:permissibleStringValue" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="sampleParameters" type="tns:sampleParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="units" type="xs:string" minOccurs="0"/>
<xs:element name="unitsFullName" type="xs:string" minOccurs="0"/>
<xs:element name="valueType" type="tns:parameterValueType" minOccurs="0"/>
<xs:element name="verified" type="xs:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="datafileParameter">
<xs:complexContent>
<xs:extension base="tns:parameter">
<xs:sequence>
<xs:element name="datafile" type="tns:datafile" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="datasetParameter">
<xs:complexContent>
<xs:extension base="tns:parameter">
<xs:sequence>
<xs:element name="dataset" type="tns:dataset" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="permissibleStringValue">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="type" type="tns:parameterType" minOccurs="0"/>
<xs:element name="value" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="sampleParameter">
<xs:complexContent>
<xs:extension base="tns:parameter">
<xs:sequence>
<xs:element name="sample" type="tns:sample" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="sample">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="datasets" type="tns:dataset" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="investigation" type="tns:investigation" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="parameters" type="tns:sampleParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="type" type="tns:sampleType" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="sampleType">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="facility" type="tns:facility" minOccurs="0"/>
<xs:element name="molecularFormula" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="safetyInformation" type="xs:string" minOccurs="0"/>
<xs:element name="samples" type="tns:sample" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="publication">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="doi" type="xs:string" minOccurs="0"/>
<xs:element name="fullReference" type="xs:string" minOccurs="0"/>
<xs:element name="investigation" type="tns:investigation" minOccurs="0"/>
<xs:element name="repository" type="xs:string" minOccurs="0"/>
<xs:element name="repositoryId" type="xs:string" minOccurs="0"/>
<xs:element name="url" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="shift">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="comment" type="xs:string" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="investigation" type="tns:investigation" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="investigationType">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="facility" type="tns:facility" minOccurs="0"/>
<xs:element name="investigations" type="tns:investigation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="relatedDatafile">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="destDatafile" type="tns:datafile" minOccurs="0"/>
<xs:element name="relation" type="xs:string" minOccurs="0"/>
<xs:element name="sourceDatafile" type="tns:datafile" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="notificationRequest">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="crudFlags" type="xs:string" minOccurs="0"/>
<xs:element name="datatypes" type="xs:string" minOccurs="0"/>
<xs:element name="destType" type="tns:destType" minOccurs="0"/>
<xs:element name="jmsOptions" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="what" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dummyResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getEntityInfo">
<xs:sequence>
<xs:element name="beanName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEntityInfoResponse">
<xs:sequence>
<xs:element name="return" type="tns:entityInfo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="entityInfo">
<xs:sequence>
<xs:element name="classComment" type="xs:string" minOccurs="0"/>
<xs:element name="constraints" type="tns:constraint" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="fields" type="tns:entityField" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="constraint">
<xs:sequence>
<xs:element name="fieldNames" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="entityField">
<xs:sequence>
<xs:element name="cascaded" type="xs:boolean" minOccurs="0"/>
<xs:element name="comment" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="notNullable" type="xs:boolean"/>
<xs:element name="relType" type="tns:relType" minOccurs="0"/>
<xs:element name="stringLength" type="xs:int" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="delete">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="bean" type="tns:entityBaseBean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="search">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="query" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="logout">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="logoutResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getRemainingMinutes">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRemainingMinutesResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="icatExceptionType">
<xs:restriction base="xs:string">
<xs:enumeration value="BAD_PARAMETER"/>
<xs:enumeration value="INTERNAL"/>
<xs:enumeration value="INSUFFICIENT_PRIVILEGES"/>
<xs:enumeration value="NO_SUCH_OBJECT_FOUND"/>
<xs:enumeration value="OBJECT_ALREADY_EXISTS"/>
<xs:enumeration value="SESSION"/>
<xs:enumeration value="VALIDATION"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="studyStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="NEW"/>
<xs:enumeration value="IN_PROGRESS"/>
<xs:enumeration value="COMPLETE"/>
<xs:enumeration value="CANCELLED"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="parameterValueType">
<xs:restriction base="xs:string">
<xs:enumeration value="DATE_AND_TIME"/>
<xs:enumeration value="NUMERIC"/>
<xs:enumeration value="STRING"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="destType">
<xs:restriction base="xs:string">
<xs:enumeration value="PUBSUB"/>
<xs:enumeration value="P2P"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="relType">
<xs:restriction base="xs:string">
<xs:enumeration value="MANY"/>
<xs:enumeration value="ONE"/>
<xs:enumeration value="ATTRIBUTE"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>